DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME"

JWT_SECRET="your_jwt_secret_key"

GOOGLE_MAPS_API_KEY="your_google_maps_api_key"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="your_google_maps_api_key"

USER_MODULE_API_URL="https://your-user-module-api-url"
USER_MODULE_APP_ID="your_app_id"

EMAIL_USER="bmo-noreply@bestcash.me"
EMAIL_PASS="your_smtp_password"
EMAIL_RECEIVER="your_receiver@email.com"
