DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME"

JWT_SECRET="your_jwt_secret_key"

GOOGLE_MAPS_API_KEY="your_google_maps_api_key"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="your_google_maps_api_key"

ADMIN_EMAIL="admin@bmo.com"
ADMIN_PASSWORD="Admin@1234"
ADMIN_NAME="Administrateur"